#beetle-home ion-content {
  ion-list + ion-button {
    margin-top: 40px;
  }

  .traps-list {
    background: transparent;

    ion-item {
      --padding-start: 9px;
      --padding-bottom: 5px;
      --padding-top: 5px;
    }
  }
}
