.plt-tablet #home-landing {
  .surveys {
    .survey {
      height: calc((100% - 30px) / 2) !important;
    }
  }
}

#home-landing {
  ion-content {
    --background: #fff url(./background.jpg) no-repeat center center / cover;

    border-top: env(safe-area-inset-top) solid white; // fill in the gap between the logo and the top bar
    --overflow: hidden;

    img.logo {
      position: absolute;
      width: 100%;
      max-height: 150px;
      padding: 13px 74px;
      background: white;
    }

    .surveys-container {
      height: 100%;
      overflow: hidden;
      padding: 160px 0 120px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-evenly;

      .surveys {
        width: 100vw;

        .survey {
          width: 100%;

          .card-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            img {
              max-height: 65%;
              min-height: 65%;
              width: 100%;
              object-fit: cover;
              flex: 1;
            }

            ion-card-header {
              flex: 1;
              display: flex;
              flex-direction: column;
              justify-content: center;

              ion-card-title {
                font-size: 1.1em;
              }
            }
          }

          h2,
          h3 {
            width: 100%;
            text-align: center;
          }

          h3 {
            font-size: 1em;
          }
        }
      }

      ion-button {
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}
