#edit-species {
  --background: #f4f4f4;

  .species-main-image-wrapper {
    height: 215px;
    width: 100%;
    background: #f4f4f4;

    .species-main-image {
      height: 210px;
      width: 100%;
      object-fit: cover;
      border-radius: 0 0 15px 15px;
    }

    .species-main-image-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #676666;
      font-weight: 400;
      height: 210px;
      border-radius: 0 0 15px 15px;
      background-color: #eaeaea;
    }
  }

  .species-wrapper {
    overflow-y: scroll;
    height: calc(100vh - 215px - 54px); // -image -header

    ion-card {
      border: 1px solid #d8d8d8;
      margin: 10% 5%;
      position: relative;

      &:first-of-type {
        margin-bottom: 15%;
        border: 1px solid #b38b38;
        box-shadow: #735d2e 0px 0px 9px;
      }
    }

    .species-add-button {
      background: transparent;
      text-align: center;

      ion-button {
        background: #fff;
      }
    }

    ion-list {
      margin: 5% 0;
    }
  }
}
