.app-settings {
  ion-label {
    white-space: normal !important;
  }

  .app-version {
    opacity: 0.6;
    width: 100%;
    text-align: right;
    padding: 10px;
    margin: 0;

    // tablet friendly
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
