#mockup-survey {
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;

  ion-list {
    padding: 0;
  }

  .survey-list-item {
    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      --inner-padding-bottom: 4px;
      --inner-padding-top: 6px;
    }

    ion-avatar {
      width: 50px;
      height: 50px;
      background: aliceblue;
      margin: 0 10px;

      img {
        padding: 5px;
      }
    }

    .species-info {
      h3 {
        font-size: 1.2em;
      }

      margin: 10px 10px;

      span {
        margin-right: 10px;
      }
      ion-badge {
        margin-bottom: -4px;
      }
    }
  }
}
