#species-profile-contents {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: scroll;
  max-height: calc(100vh - 54px);
  background: #f4f4f4;

  .species-main-image {
    width: 100%;
    border: 0;
    max-height: 30vh;
    object-fit: cover;
  }

  .identifying {
    text-align: center;
    margin-top: 30px;
    * {
      margin-bottom: 30px;
    }
  }
}
