#surveys-list ion-content {
  --padding-bottom: 100px;

  ion-list {
    background: transparent;

    .survey-list-item {
      margin-bottom: 15px;
      border-radius: 10px;
      background: white;

      ion-item {
        --padding-start: 5px;
        --padding-top: 2px;
        --padding-bottom: 2px;
        --border-width: 0;

        .species-info {
          margin: 10px 10px;

          span {
            margin-right: 10px;
          }
        }

        > ion-label {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 18px;
        }

        h3 {
          font-weight: 500;
          font-size: 1.1em;
        }
      }
    }
  }
}
