#surveys-list ion-content {
  ion-list {
    background: transparent;

    .survey-list-item {
      border-radius: 10px;
      margin-bottom: 6px;
      background: white;

      ion-item {
        --border-width: 0;

        .species-info {
          margin: 10px 10px;

          span {
            margin-right: 10px;
          }
        }

        > ion-label {
          margin-left: 18px;
        }

        h3 {
          font-size: 1.1em;
          font-weight: 500;
        }
      }
    }
  }
}
