#surveys-list {
  ion-segment {
    padding: 10px 16px;
    background: white;

    ion-badge {
      vertical-align: top;
      margin: 3px;
      margin-left: 6px;
    }
  }

  h1 {
    text-align: center;
    font-size: 2em;
    padding: 30px 0;
    color: var(--ion-color-primary);
  }

  ion-content {
    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 0;
    --padding-bottom: 0;
  }

  ion-list {
    background: transparent;
  }

  .empty {
    width: 80%;
    max-width: 250px;
    margin: 50px auto 50px;
    --border-width: 0;
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1),
      0 2px 9px 0 rgba(62, 57, 107, 0.1);

    div {
      margin: 0 auto;
      font-weight: 200;
      text-align: center;
      padding: 20px 0;
    }

    ion-icon {
      background: var(--ion-color-primary);
      padding: 5px;
      border-radius: 50%;
      color: white;
      margin: 0 5px 0 8px;
      margin-bottom: -7px;
    }
  }
}
