#user-reset {
  ion-content {
    --padding-top: 20px; // header
  }

  ion-content {
    h2 {
      text-align: center;
      font-size: 1em;
      font-weight: 400;
      opacity: 0.7;
      padding: 20px 20px 40px;
    }

    ion-button[type='submit'] {
      margin-bottom: 60px;
    }
  }
}
