#transect-trap {
  .single-photo-picker {
    border-radius: 0 0 var(--theme-border-radius) var(--theme-border-radius);

    .img {
      border-radius: 10px;
      overflow: hidden;

      .crop-button {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: -1px;
        width: 50px;
        height: 50px;
        --background: #ffffff4a;
        --background-activated: #00000078;

        ion-icon {
          font-size: 2em;
        }
      }
    }
  }
}
