ion-tab-bar {
  bottom: 20px;
  left: 50px;
  position: absolute;
  border-radius: 16px;
  width: calc(100% - 100px);
  height: 70px;
  margin: 0 auto;
  margin-top: 20px;
  border: 0;
  contain: none;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 15px #d4d4d4;

  ion-tab-button {
    border-radius: 16px;
    --color: var(--ion-color-dark);
    --color-selected: var(--ion-color-dark);

    &.tab-selected {
      .tab-highlight {
        height: 60px;
        width: 60px;
        background: #66a34745;
        display: flex;
        border-radius: 9px;
        align-items: center;
        justify-content: center;
      }
    }

    ion-icon {
      font-size: 3em;
    }
  }
}

ion-alert {
  .tip-icon {
    color: white;
    vertical-align: bottom;
    background: var(--ion-color-primary);
    border-radius: 50%;
    padding: 3px;
  }
}
