ion-tab-bar {
  bottom: 20px;
  left: 50px;
  position: absolute;
  border-radius: 16px;
  width: calc(100% - 100px);
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  border: 0;
  padding: 5px;
  contain: none;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 15px #d4d4d4;
  &[selected-tab='home/landing'] {
    box-shadow: 0 0 15px #5d5d5d;
  }

  ion-tab-button {
    border-radius: 16px;
    --color: var(--ion-color-dark);
    --color-selected: var(--ion-color-dark);

    &.tab-selected {
      background: #66a34745;
      @apply transition-[background] duration-150;
    }

    ion-icon {
      font-size: 3em;
    }
  }
}
