#seedmixes {
  ion-list {
    margin-top: 20px;

    .seedmix-list-header {
      background: #e6e6e6 !important;
      color: #777777;

      padding-left: 7px;
      --inner-padding-end: 0;
      &.ios {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      ion-label {
        width: 100%;
        text-align: center;
        font-family: 'Museo';
        font-weight: normal;

        &:last-of-type {
          max-width: 80px;
          position: absolute;
          right: 8px;
        }
        &:first-of-type {
          max-width: 80px;
        }
      }
    }
  }
}
