.species-list-item.unknown {
  .profile-photo {
    position: relative;
    height: 48px;
    min-width: 60px;
    max-width: 60px;
    margin: 0 8px 2px 0;
    background-color: #f8f2e6;
    overflow: hidden;
    text-align: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  ion-label {
    .warning-message {
      background: #f8f2e6;
      padding: 1px 5px;
      font-size: 0.8em;
      border-radius: 10px;
      color: #b69143;
      margin-top: 3px;
      width: fit-content;
    }

    .warning-message.ios {
      font-size: 0.6em;
      font-weight: 500 !important;
    }
  }

  ion-icon {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    color: #b38b39;
  }

  ion-label.identifying {
    color: red;
    font-style: italic;
  }

  ion-spinner.identifying {
    width: 15px;
    margin-right: 2px;
    opacity: 0.5;
  }

  ion-button.occurrence-identify {
    margin-right: 0;
    --padding-end: 15px;
    --padding-start: 15px;
  }
}
