#transect-quadrat {
  .img {
    border-radius: 10px;
    overflow: hidden;

    .crop-button {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 50px;
      width: 50px;
      margin: -1px;
      --background: #ffffff4a;
      --background-activated: #00000078;

      ion-icon {
        font-size: 2em;
      }
    }
  }
}
