#species-profile {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  .species-main-image {
    width: 100%;
    border: 0;
    max-height: 30vh;
    object-fit: cover;
  }

  .identifying {
    text-align: center;
    
    * {
      margin-bottom: 30px;
    }
  }
}
