#species-profile-contents {
  padding: 0;
  overflow: scroll;
  position: absolute;
  margin-top: 54px;
  max-height: calc(100vh - 54px);

  .species-main-image {
    width: 100%;
    border: 0;
    max-height: 30vh;
    object-fit: cover;
  }

  .identifying {
    text-align: center;

    * {
      margin-bottom: 30px;
    }
  }
}
