#species-profile {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;

  img {
    width: 100%;
    border: 0;
    max-height: 30vh;
    object-fit: cover;
  }

  ion-card-subtitle {
    margin-top: 8px;
  }

  ion-card-content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .empty {
    width: 80%;
    max-width: 250px;
    margin: 100px auto 0;
    --border-width: 0;
    --background: var(--ion-color-light);
    --color: var(--ion-color-light-contrast);
    span {
      margin: 0 auto;
      font-weight: 200;
      text-align: center;
    }
  }

  .species-label {
    font-weight: bold;
    border-left: 3px solid var(--ion-color-primary);
    padding-left: 5px;
    text-transform: uppercase;
    margin: 10px auto 15px;
  }
  .species-label.inline-label {
    display: inline-block;
    margin-right: 5px;
  }

  .score {
    ion-icon {
      width: 20px;
      height: 20px;
      margin-bottom: -4px;
      margin-left: 10px;
    }

    &.id-green ion-icon {
      color: green;
    }

    &.id-amber ion-icon {
      color: orange;
    }

    &.id-red ion-icon {
      color: red;
    }
  }
}
