#surveys-list {
  margin-top: 0; // to counter the ion-safe-area-top which is calculated in JS

  ion-header {
    ion-badge {
      display: inline;
      margin-left: 10px;
    }

    ion-toolbar {
      --ion-toolbar-background: transparent;

      position: fixed;
      color: var(--ion-color-main);
      &.md {
        --ion-toolbar-background: white;
      }

      ion-segment-button {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  ion-content {
    .info-background-message {
      margin-top: 100px;
    }

    .upload-all-button {
      margin: 0 auto 20px;
      max-width: 60%;
    }
  }
}
