.single-photo-picker {
  &:not(.empty) {
    --inner-padding-end: 7px;

    ion-label[slot='end'] {
      margin: 4px 0;
    }
  }

  .img {
    display: flex;
    position: relative;
    border-radius: 10px;
    width: fit-content;
    min-width: fit-content;
    max-width: 90%; // leave visible indication for second image if first one is in landscape
    height: 100%;
    overflow: hidden;

    img {
      max-height: 90px;
      object-fit: contain;
    }

    .delete {
      position: absolute;
      margin: 0;

      background-color: #8080807d;
      width: 100%;
      height: 20px;

      ion-icon {
        color: white;
      }
    }
  }
}
