$text-color: #132f00;

@mixin wave {
  // https://www.shapedivider.app/
  .custom-shape-divider-bottom-1593438501 {
    position: absolute;
    bottom: -1px;
    left: 0;
    transform: rotate(180deg);
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-bottom-1593438501 svg {
    display: block;
    position: relative;
    width: calc(100% + 1.3px);
    height: 42px;
  }

  .custom-shape-divider-bottom-1593438501 .shape-fill {
    fill: #f9fff5;
  }

  /** For mobile devices **/
  .custom-shape-divider-bottom-1593438501 svg {
    width: calc(152% + 1.3px);
    height: 42px;
  }
}

@mixin slide {
  .slide-header {
    position: absolute;
    top: 0;
    background-size: cover;
    width: 100%;
    height: 50%;
  }
  @include wave;
}

#welcome-page {
  ion-header {
    position: absolute;

    ion-toolbar {
      --background: transparent;
      --border-color: transparent;
      --ion-color-dark-contrast: #ffffff;

      ion-button {
        margin: 10px;
        border-radius: 50%;
        background: #ffffffcf;
        width: 40px;
        // padding: 0px 9px;
        height: 40px;
        color: $text-color !important;
      }
    }
  }

  ion-footer {
    position: absolute;
    bottom: 0;
    ion-toolbar {
      --background: transparent;
      --border-color: transparent;

      ion-button {
        margin: 10px;
        border-radius: 50%;
        background: var(--ion-color-secondary);
        width: 60px;
        height: 60px;
        color: #4d380a;
        color: $text-color;
      }
    }
  }

  .swiper-slide {
    background: #f9fff5;
  }

  .swiper-slide .message {
    position: absolute;
    top: 105%;
    width: 100%;
  }

  .swiper {
    position: fixed !important;
    top: 0;
    left: 0;
    background: white;
    width: 100vw;
    height: 100vh;

    .swiper-slide.first {
      @include slide;

      .slide-header {
        background-position: 54%;
      }
    }

    .swiper-slide.second {
      @include slide;

      .slide-header {
        background-position: 34%;
      }
      ion-button {
        color: $text-color;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }

    .swiper-slide.third {
      @include slide;

      .slide-header {
        background-position: 34%;
      }
      ion-button {
        color: $text-color;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }

    .swiper-slide.fourth {
      @include slide;

      .slide-header {
        background-position: 34%;
      }
      ion-button {
        color: $text-color;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }

    .swiper-slide.fifth {
      @include slide;

      .slide-header {
        background-position: 34%;
      }
      ion-button {
        color: $text-color;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }

    p,
    h2 {
      margin-top: 1.1rem;
      text-align: center;
    }

    h2 {
      margin: 10px 4px 0 2px;
      padding: 0 20px;
      color: $text-color;
      font-size: 1.9rem;
      letter-spacing: 2px;
      text-align: center;
    }

    p {
      margin-bottom: 9px;
      padding: 10px 30px;
      color: #4d380a;
      color: $text-color;
      font-size: 1.3rem;
      line-height: 1.5em;
      text-align: left;
    }

    .swiper-pagination-bullets {
      bottom: 3%;

      .swiper-pagination-bullet {
        --bullet-background: #cccccc;
        --bullet-background-active: var(--ion-color-primary-dark);
        opacity: 1;
      }
    }
  }
}
