#home {
  ion-header ion-toolbar {
    --ion-toolbar-background: var(--ion-color-light);

    ion-menu-button {
      color: var(--ion-color-light-contrast);
    }
  }

  ion-content {
    --background: var(--ion-color-light);

    --padding-start: 5px;
    --padding-end: 5px;
    --padding-top: 0;
    --padding-bottom: 0;

    > img {
      display: block;
      max-width: 65%;
      margin: 0 auto;
    }

    ion-list {
      padding: 10px;
    }
  }

  ion-footer .inner-wrap {
    border-top: 1px solid var(--ion-color-light-shade);
    padding: 5px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    ion-button {
      background: white;
      border-radius: 10px;
      height: 70px;
      width: 70px;
      margin-top: -20px;
    }

    ion-tab-button {
      color: var(--ion-color-primary);
    }
    ion-icon {
      font-size: 2rem;
    }
  }
}
