.species-modal {
  ion-segment {
    margin: 10px auto;
    width: 90%;

    ion-segment-button.md:not(.segment-button-checked) {
      color: #ffffffab;
    }
    ion-segment-button.md.segment-button-checked {
      border-bottom: white 1px solid;
      color: white;
    }

    ion-segment-button.segment-button-checked.ios {
      color: black;
    }
  }
}
