#list {
  .offline-warning-note {
    --background: #ffb6413b;
  }

  ion-item-divider.species-list-header {
    background: #e6e6e6 !important;
    color: #777777;

    padding-left: 7px;
    --inner-padding-end: 0;

    &.ios {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    ion-label {
      width: 100%;
      text-align: center;
      font-weight: normal;
      font-size: 0.9em;

      &:nth-of-type(2) {
        padding-left: 16px;
        text-align: left;
      }
      &:first-of-type {
        max-width: 54px;
      }
      &:last-of-type {
        max-width: 50px;
      }
    }

    &.unknown {
      ion-label {
        max-width: 50%;
        padding-left: 6px;
        text-align: left;
      }

      ion-label.full-width {
        max-width: 100%;
      }

      .count {
        max-width: 50px;
        padding-left: 0;
        text-align: center;
      }

      ion-button {
        margin: 0 auto;
        white-space: normal;
        position: absolute;
        right: 9px;

        &.md {
          right: 26px;
        }
      }
    }
  }
}

.plant-photo-profile {
  position: relative;
  margin: 0 12px 0px 4px;
  height: 60px;
  min-width: 60px;
  max-width: 60px;
  background-color: #828282;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  ion-icon {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    color: #b38b39;
  }
}

ion-label.identifying {
  color: red;
  font-style: italic;
}

ion-spinner.identifying {
  width: 15px;
  margin-right: -17px;
  opacity: 0.4;
}

.species-list-item {
  &:not(:last-of-type) {
    border-bottom: 1px #e3e3e3 solid;
  }

  ion-item {
    --padding-start: 0px;
    --detail-icon-opacity: 1;

    &.id-icon-positive {
      --detail-icon-color: var(--id-positive-color);
    }

    &.id-icon-possible {
      --detail-icon-color: var(--id-possible-color);
    }

    &.id-icon-rejected {
      --detail-icon-color: var(--id-rejected-color);
    }
  }
}
