#camera-container {
  position: absolute;
  background: black;
  height: 100vh;
  width: 100vw;

  .cancel-button {
    position: absolute;
    bottom: 12px;
    left: 11px;
    background: transparent;
    color: white;
    height: 32px;
    font-size: 17px;
    font-weight: 400;
  }

  .camera-button {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 12px;
    left: 50vw;
    transform: translateX(-50%);
    background: white;
    border: 2px #cdcdcd solid;
    padding: 10px;
  }
}

#img-array {
  .warning-icon {
    position: absolute;
    right: 0px;
    bottom: 5px;
    background: #fff1f1;
    color: var(--ion-color-danger);
    border-radius: 100%;
    font-size: 1em;
    padding: 3px;
  }

  ion-spinner {
    position: absolute;
    bottom: 4px;
    right: 0;
    background: #ffffff94;
    border-radius: 50%;
    height: 23px;
    width: 23px;
  }
}
