#credits.ion-page ion-content {
  .flumens-logo {
    img {
      width: 40%;
      max-width: 200px;
      margin: 0 auto;
      display: block;
    }
  }

  .apps-section-h {
    margin-top: 30px;
  }
}
