#transect-survey-report {
  h3 {
    font-size: 18px;
  }

  ion-grid {
    padding: 0;
    margin-top: -10px;

    ion-row {
      padding: 10px;
    }

    ion-row.header {
      background: #d6d6d6 !important;
    }

    ion-row.subheader {
      background: #e9e9e9 !important;
    }

    ion-row:first-of-type {
      text-align: center;
    }

    ion-col:last-child {
      text-align: center;
    }

    ion-row:nth-child(even) {
      background: #f9f3ec;
    }
  }
}
