#transect-survey-report {
  h3 {
    font-size: 18px;
  }

  ion-grid {
    ion-row {
      padding: 10px;
    }

    ion-row:first-of-type {
      text-align: center;
    }

    ion-col:last-child {
      text-align: center;
    }

    ion-row:nth-child(even) {
      background: #f9f3ec;
    }
  }
}
