#transect-survey-report {
  ion-grid {
    ion-row {
      padding: 10px;
    }

    ion-row:first-of-type {
      text-align: center;
    }

    ion-col:first-child {
      font-weight: 500;
    }

    ion-col:last-child {
      text-align: center;
    }

    ion-row:nth-child(even) {
      background: #ffe0c0;
    }
  }
}
