#user-login {
  ion-content {
    --padding-top: 30px;

    h1 {
      text-align: center;
      font-size: 1.4em;
      font-weight: 500;
    }

    h2 {
      text-align: center;
      font-size: 1em;
      font-weight: 400;
      margin-bottom: 70px;
    }

    form ion-router-link.password-forgot-button {
      display: block;
      padding: 10px;
      text-align: right;
      font-size: 0.85em;
      color: var(--ion-color-dark);
    }

    ion-button[type='submit'] {
      margin-bottom: 60px;
    }
  }
}
