.survey-report {
  .report-header {
    display: flex;
    min-height: 50px;
    margin: 20px 0;
    justify-content: space-evenly;

    .seedmix,
    .pollinators {
      align-self: center;
      text-align: center;

      ion-icon {
        max-width: 20%;
        min-width: 20px;

        font-size: 54px;
        margin: 0 10px;
      }
      ion-badge {
        min-width: 80px;

        font-size: 2em;
        --padding-bottom: 10px;
        --padding-top: 10px;
        --padding-end: 10px;
        --padding-start: 10px;
      }
    }
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 10px 7px;

    ion-button.md {
      margin-right: 10px;
    }
  }

  ion-item-divider {
    background: #e6e6e6 !important;
    padding: 0 10px;
    color: black;
  }
}

.pollinator-class {
  opacity: 1 !important;

  b.high {
    color: green;
  }
  .high {
    --background: green;
  }

  b.medium {
    color: #1979ae;
  }
  .medium {
    --background: #1979ae;
  }

  b.low {
    color: gray;
  }
  .low {
    --background: gray;
  }
}
