#species-profile-card {
  ion-card-title {
    max-width: 85%;
    padding: 0 20px 0 0;
  }

  ion-card-subtitle {
    max-width: 85%;
  }

  .species-main-image {
    height: 250px;
    background-position: center;
  }

  .species-images {
    width: 75px;
    height: 75px;
    padding: 2px;
    border-radius: 10px;
  }

  ion-grid {
    align-items: center;

    ion-row {
      text-align: center;
      display: flex;
      align-items: center;
      width: 100%;
      height: 20%;
    }
    ion-col {
      text-align: left;
    }
  }

  #doughnut {
    position: absolute;
    top: 1px;
    right: -130px;
  }
}
