#species-profile-card {
  border-radius: 10px;

  ion-card-title {
    max-width: 85%;
    padding: 0 20px 0 0;
  }

  ion-card-subtitle {
    max-width: 85%;
  }

  .species-main-image {
    height: 250px;
    background-position: center;
  }

  ion-grid {
    align-items: center;

    ion-row {
      text-align: center;
      display: flex;
      align-items: center;
      width: 100%;
      height: 20%;
      margin: 5% 0;
    }

    ion-col {
      text-align: left;
      padding: 0;
      margin: 0;

      .species-images {
        padding: 2px;
        border-radius: 15px;
        overflow: hidden;
      }
    }
  }

  #doughnut {
    position: absolute;
    top: 10px;
    right: -3%;
    height: 7vh !important;
    width: 14vh !important;
  }

  ion-list {
    text-align: center;
  }

  .info-background-message {
    --background: var(--ion-color-warning);
    color: #fff;
    margin-bottom: 10px;
    display: inherit;

    span {
      font-weight: 400;
      text-align: left;
      width: 100%;
    }

    ion-icon {
      position: absolute;
      right: 15px;
      transform: translateY(-50%);
      top: 50%;
      background: none;
      --ionicon-stroke-width: 25px;
      font-size: 30px;
    }
  }
}
