#species-profile-card {
  border-radius: 10px;

  ion-card-title {
    max-width: 85%;
    padding: 0 20px 0 0;
  }

  ion-card-subtitle {
    max-width: 85%;
  }

  .species-main-image {
    height: 250px;
    background-position: center;
  }

  ion-grid {
    align-items: center;

    ion-row {
      text-align: center;
      display: flex;
      align-items: center;
      width: 100%;
      height: 20%;
      margin: 5% 0;
    }

    ion-col {
      text-align: left;
      padding: 0;
      margin: 0;

      .species-images {
        padding: 2px;
        border-radius: 20% !important;
        overflow: hidden;
      }
    }
  }

  #doughnut {
    position: absolute;
    top: 10px;
    right: -3%;
    height: 7vh !important;
    width: 14vh !important;
  }

  ion-list {
    text-align: center;
  }
}
