#species-profile-card {
  border-radius: 10px;
  flex: none;

  ion-card-header {
    display: flex;
    justify-content: space-between;
  }

  .species-main-image {
    height: 250px;
    background-position: center;
  }

  ion-grid {
    align-items: center;

    ion-row {
      text-align: center;
      display: flex;
      align-items: center;
      width: 100%;
      height: 20%;
      margin: 0 0 2% 0;

      ion-col {
        text-align: left;
        padding: 2px;
        display: flex;
        justify-content: center;

        .species-images {
          border-radius: 15px;
          overflow: hidden;
        }

        .species-placeholder-images {
          border-radius: 15px;
          width: 100%;
          padding: 50% 0; // instead of 100% height
          background: #f1f1f1;
        }
      }
    }
  }

  #doughnut {
    height: 8vh !important;
    width: 16vh !important;
    transform: translate(30%, -20%);
  }

  ion-icon {
    color: #4b9a43;
    --ionicon-stroke-width: 12%;
  }

  ion-list {
    text-align: center;
  }

  .info-background-message {
    --background: var(--ion-color-warning);
    color: #fff;
    display: inherit;

    span {
      font-weight: 400;
      text-align: left;
      width: 100%;
    }

    ion-icon {
      position: absolute;
      right: 5%;
      transform: translateY(-50%);
      top: 50%;
      background: none;
      --ionicon-stroke-width: 25px;
      font-size: 30px;
    }
  }
}
