@import '@ionic/core/css/core.css';
@import '@ionic/core/css/structure.css';
@import '@ionic/core/css/typography.css';
/* @import '@ionic/core/css/normalize.css'; not adding because messes up tailwind buttons */

@import 'tailwindcss';

@source "../../node_modules/@flumens/tailwind";
@source "../../node_modules/@flumens/ionic";

@import '@flumens/ionic/dist/themes/rounded.css';
@import '@flumens/ionic/dist/themes/tailwindUtils.css';

@theme {
  /* Habitat theme */
  --color-habitat-50: var(--color-lime-50);
  --color-habitat-100: var(--color-lime-100);
  --color-habitat-200: var(--color-lime-200);
  --color-habitat-300: var(--color-lime-300);
  --color-habitat-400: var(--color-lime-400);
  --color-habitat-500: var(--color-lime-500);
  --color-habitat-600: var(--color-lime-600);
  --color-habitat-700: var(--color-lime-700);
  --color-habitat-800: var(--color-lime-800);
  --color-habitat-900: var(--color-lime-900);
  --color-habitat-950: var(--color-lime-950);
  --color-habitat: var(--color-lime-600);

  /* Ecosystem theme */
  --color-ecosystem-50: var(--color-sky-50);
  --color-ecosystem-100: var(--color-sky-100);
  --color-ecosystem-200: var(--color-sky-200);
  --color-ecosystem-300: var(--color-sky-300);
  --color-ecosystem-400: var(--color-sky-400);
  --color-ecosystem-500: var(--color-sky-500);
  --color-ecosystem-600: var(--color-sky-600);
  --color-ecosystem-700: var(--color-sky-700);
  --color-ecosystem-800: var(--color-sky-800);
  --color-ecosystem-900: var(--color-sky-900);
  --color-ecosystem-950: var(--color-sky-950);
  --color-ecosystem: var(--color-sky-600);

  /* Soil theme */
  --color-soil-50: var(--color-amber-50);
  --color-soil-100: var(--color-amber-100);
  --color-soil-200: var(--color-amber-200);
  --color-soil-300: var(--color-amber-300);
  --color-soil-400: var(--color-amber-400);
  --color-soil-500: var(--color-amber-500);
  --color-soil-600: var(--color-amber-600);
  --color-soil-700: var(--color-amber-700);
  --color-soil-800: var(--color-amber-800);
  --color-soil-900: var(--color-amber-900);
  --color-soil-950: var(--color-amber-950);
  --color-soil: var(--color-amber-700);

  /* For primary actions */
  /* https://www.shadecolr.com/#colors=Y29sb3I6MzcuMDIxMjc2NTk1NzQ0NjcsMTAwLDUzLjkyMTU2ODYyNzQ1MDk4fHN0ZXAtdXA6MTAuMXxzdGVwLWRvd246MTEuOHxodWUtc2hpZnQ6MHxiYXNlLXN0b3A6NXxuYW1lOm9yYW5nZXxsb2NrZWQ6MA%3D%3D&active=color-1&v=2 */
  --color-primary: oklch(79.304% 0.16846 69.901);
  --color-primary-50: oklch(99.723% 0.00285 84.559);
  --color-primary-100: oklch(97.097% 0.02649 80.254);
  --color-primary-200: oklch(92.066% 0.07185 79.017);
  --color-primary-300: oklch(87.335% 0.1147 77.943);
  --color-primary-400: oklch(83.194% 0.1484 75.659);
  --color-primary-500: oklch(79.304% 0.16846 69.901);
  --color-primary-600: oklch(68.721% 0.15142 67.419);
  --color-primary-700: oklch(53.992% 0.11862 67.84);
  --color-primary-800: oklch(38.232% 0.0824 70.849);
  --color-primary-900: oklch(20.756% 0.04304 79.589);
  --color-primary-950: oklch(9.6644% 0.02005 99.316);

  /* For secondary actions and module theming */
  --color-secondary: var(--color-neutral);
  --color-secondary-50: var(--color-neutral-50);
  --color-secondary-100: var(--color-neutral-100);
  --color-secondary-200: var(--color-neutral-200);
  --color-secondary-300: var(--color-neutral-300);
  --color-secondary-400: var(--color-neutral-400);
  --color-secondary-500: var(--color-neutral-500);
  --color-secondary-600: var(--color-neutral-600);
  --color-secondary-700: var(--color-neutral-700);
  --color-secondary-800: var(--color-neutral-800);
  --color-secondary-900: var(--color-neutral-900);
  --color-secondary-950: var(--color-neutral-950);

  /* https://www.shadecolr.com/#colors=Y29sb3I6MjAzLjg5ODMwNTA4NDc0NTc3LDEwMCw0Ni4yNzQ1MDk4MDM5MjE1N3xzdGVwLXVwOjl8c3RlcC1kb3duOjEyfGh1ZS1zaGlmdDowfGJhc2Utc3RvcDo2fG5hbWU6c2t5fGxvY2tlZDow&active=color-1&v=2 */
  --color-tertiary: oklch(63.276% 0.17242 248.5);
  --color-tertiary-50: oklch(96.61% 0.01835 237.76);
  --color-tertiary-100: oklch(93.267% 0.03678 238.08);
  --color-tertiary-200: oklch(86.649% 0.07487 237.94);
  --color-tertiary-300: oklch(80.425% 0.11115 239.06);
  --color-tertiary-400: oklch(74.526% 0.1442 241.91);
  --color-tertiary-500: oklch(69.562% 0.17063 245.65);
  --color-tertiary-600: oklch(63.276% 0.17242 248.5);
  --color-tertiary-700: oklch(50.844% 0.13671 247.95);
  --color-tertiary-800: oklch(37.592% 0.09851 246.85);
  --color-tertiary-900: oklch(23.245% 0.05366 240.46);
  --color-tertiary-950: oklch(14.973% 0.03107 233.36);

  /* https://www.shadecolr.com/#colors=Y29sb3I6MCw4NS4zNjU4NTM2NTg1MzY1OCw1OS44MDM5MjE1Njg2Mjc0NXxzdGVwLXVwOjh8c3RlcC1kb3duOjExfGh1ZS1zaGlmdDowfGJhc2Utc3RvcDo1fG5hbWU6cmVkfGxvY2tlZDow&active=color-1&v=2 */
  --color-danger: oklch(63.538% 0.21167 25.6);
  --color-danger-50: oklch(95.437% 0.0196 17.501);
  --color-danger-100: oklch(91.236% 0.04024 17.913);
  --color-danger-200: oklch(83.016% 0.08326 18.986);
  --color-danger-300: oklch(75.547% 0.12772 20.507);
  --color-danger-400: oklch(68.817% 0.17302 22.739);
  --color-danger-500: oklch(63.538% 0.21167 25.6);
  --color-danger-600: oklch(58.728% 0.23449 28.638);
  --color-danger-700: oklch(48.633% 0.19267 28.477);
  --color-danger-800: oklch(38.007% 0.14816 28.152);
  --color-danger-900: oklch(26.604% 0.0996 27.398);
  --color-danger-950: oklch(20.442% 0.07305 26.62);

  --color-success: var(--color-habitat);
  --color-success-50: var(--color-habitat-50);
  --color-success-100: var(--color-habitat-100);
  --color-success-200: var(--color-habitat-200);
  --color-success-300: var(--color-habitat-300);
  --color-success-400: var(--color-habitat-400);
  --color-success-500: var(--color-habitat-500);
  --color-success-600: var(--color-habitat-600);
  --color-success-700: var(--color-habitat-700);
  --color-success-800: var(--color-habitat-800);
  --color-success-900: var(--color-habitat-900);
  --color-success-950: var(--color-habitat-950);

  /* Warning */
  --color-warning: var(--color-primary);
  --color-warning-50: var(--color-primary-50);
  --color-warning-100: var(--color-primary-100);
  --color-warning-200: var(--color-primary-200);
  --color-warning-300: var(--color-primary-300);
  --color-warning-400: var(--color-primary-400);
  --color-warning-500: var(--color-primary-500);
  --color-warning-600: var(--color-primary-600);
  --color-warning-700: var(--color-primary-700);
  --color-warning-800: var(--color-primary-800);
  --color-warning-900: var(--color-primary-900);
  --color-warning-950: var(--color-primary-950);
}

/* status bar */
html.ios.plt-hybrid #status-bar-background {
  background: black;
}

.theme-habitat {
  --color-secondary-50: var(--color-habitat-50);
  --color-secondary-100: var(--color-habitat-100);
  --color-secondary-200: var(--color-habitat-200);
  --color-secondary-300: var(--color-habitat-300);
  --color-secondary-400: var(--color-habitat-400);
  --color-secondary-500: var(--color-habitat-500);
  --color-secondary-600: var(--color-habitat-600);
  --color-secondary-700: var(--color-habitat-700);
  --color-secondary-800: var(--color-habitat-800);
  --color-secondary-900: var(--color-habitat-900);
  --color-secondary-950: var(--color-habitat-950);
  --color-secondary: var(--color-habitat);
  --form-value-color: var(--color-secondary-900);
}

.theme-ecosystem {
  --color-secondary-50: var(--color-ecosystem-50);
  --color-secondary-100: var(--color-ecosystem-100);
  --color-secondary-200: var(--color-ecosystem-200);
  --color-secondary-300: var(--color-ecosystem-300);
  --color-secondary-400: var(--color-ecosystem-400);
  --color-secondary-500: var(--color-ecosystem-500);
  --color-secondary-600: var(--color-ecosystem-600);
  --color-secondary-700: var(--color-ecosystem-700);
  --color-secondary-800: var(--color-ecosystem-800);
  --color-secondary-900: var(--color-ecosystem-900);
  --color-secondary-950: var(--color-ecosystem-950);
  --color-secondary: var(--color-ecosystem);
  --form-value-color: var(--color-secondary-900);
}

.theme-soil {
  --color-secondary-50: var(--color-soil-50);
  --color-secondary-100: var(--color-soil-100);
  --color-secondary-200: var(--color-soil-200);
  --color-secondary-300: var(--color-soil-300);
  --color-secondary-400: var(--color-soil-400);
  --color-secondary-500: var(--color-soil-500);
  --color-secondary-600: var(--color-soil-600);
  --color-secondary-700: var(--color-soil-700);
  --color-secondary-800: var(--color-soil-800);
  --color-secondary-900: var(--color-soil-900);
  --color-secondary-950: var(--color-soil-950);
  --color-secondary: var(--color-soil);
  --form-value-color: var(--color-secondary-900);
}

:root {
  --form-value-color: var(--color-secondary-900);
  --ion-color-primary: var(--color-primary);
  --ion-color-primary-contrast: var(--color-primary-50);
  --ion-color-primary-shade: var(--color-primary-800);
  --ion-color-primary-tint: var(--color-primary-500);
  --ion-color-primary-dark: var(--color-primary-950);

  --ion-color-secondary: var(--color-secondary);
  --ion-color-secondary-contrast: var(--color-secondary-50);
  --ion-color-secondary-shade: var(--color-secondary-700);
  --ion-color-secondary-tint: var(--color-secondary-500);
  --ion-color-secondary-dark: var(--color-secondary-950);

  --ion-color-tertiary: var(--color-tertiary);
  --ion-color-tertiary-contrast: var(--color-tertiary-50);
  --ion-color-tertiary-shade: var(--color-tertiary-700);
  --ion-color-tertiary-tint: var(--color-tertiary-500);
  --ion-color-tertiary-dark: var(--color-tertiary-950);

  --ion-color-success: var(--color-success);
  --ion-color-success-contrast: var(--color-success-50);
  --ion-color-success-shade: var(--color-success-700);
  --ion-color-success-tint: var(--color-success-500);
  --ion-color-success-dark: var(--color-success-950);

  --ion-color-warning: var(--color-warning);
  --ion-color-warning-contrast: var(--color-warning-50);
  --ion-color-warning-shade: var(--color-warning-700);
  --ion-color-warning-tint: var(--color-warning-500);
  --ion-color-warning-dark: var(--color-warning-900);

  --ion-color-danger: var(--color-danger);
  --ion-color-danger-contrast: var(--color-danger-50);
  --ion-color-danger-shade: var(--color-danger-700);
  --ion-color-danger-tint: var(--color-danger-500);
  --ion-color-danger-dark: var(--color-danger-950);

  --ion-color-dark: var(--color-slate-900);
  --ion-color-dark-contrast: var(--color-slate-50);
  --ion-color-dark-shade: var(--color-slate-950);
  --ion-color-dark-tint: var(--color-slate-800);

  --ion-color-medium: var(--color-slate-400);
  --ion-color-medium-contrast: var(--color-slate-50);
  --ion-color-medium-shade: var(--color-slate-500);
  --ion-color-medium-tint: var(--color-slate-300);

  --ion-color-light: var(--color-white);
  --ion-color-light-contrast: var(--color-slate-950);
  --ion-color-light-shade: var(--color-slate-200);
  --ion-color-light-tint: var(--color-white);

  --ion-page-background: var(--color-neutral-100);

  --ion-headings-font-weight: 300;
  /* --ion-item-border-color: #e5e5e5; tailwind neutral-200 */

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
  --ion-toolbar-color-activated: #fff;

  --id-positive-color: var(--color-success-700);
  --id-possible-color: var(--color-warning-600);
  --id-rejected-color: var(--color-danger);

  --ion-font-family: 'Quicksand';
}

/* FONTS START */
@font-face {
  font-weight: 300;
  src: url('./fonts/Quicksand-Light.ttf');
  font-family: 'Quicksand';
}
@font-face {
  font-weight: 400;
  src: url('./fonts/Quicksand-Regular.ttf');
  font-family: 'Quicksand';
}
@font-face {
  font-weight: 500;
  src: url('./fonts/Quicksand-Medium.ttf');
  font-family: 'Quicksand';
}
@font-face {
  font-weight: 600;
  src: url('./fonts/Quicksand-SemiBold.ttf');
  font-family: 'Quicksand';
}
@font-face {
  font-weight: 700;
  src: url('./fonts/Quicksand-Bold.ttf');
  font-family: 'Quicksand';
}

ion-title,
h1 {
  font-weight: 700;
  font-family: 'Quicksand';
}

ion-item-divider,
ion-badge,
ion-label.bold,
ion-card-title,
b {
  font-weight: 600;
  font-family: 'Quicksand';
}

.apps-section .apps-section-h,
h2,
h3,
h4,
h5,
p,
i,
div,
span,
input,
button {
  font-family: 'Quicksand';
}
/* FONTS END */

/* make buttons a bit bolder to improve visibility and accessibility */
button[type='button'] > div {
  font-weight: 500;
}

/* the background camera must see through it all */
body {
  background-color: transparent;
}

/* ID colours */
.id-positive {
  color: var(--id-positive-color);
}
.id-possible {
  color: var(--id-possible-color);
}
.id-rejected {
  color: var(--id-rejected-color);
}

/* nice page header */
ion-toolbar {
  --ion-toolbar-background: linear-gradient(
    0deg,
    rgb(39, 39, 39) 0%,
    rgb(0, 0, 0) 60%
  );
  --border-width: 0 !important;
}
/* fix map toolbar background for location input */
ion-toolbar.location-input-attr {
  --ion-toolbar-background: linear-gradient(
    0deg,
    rgb(39, 39, 39) 0%,
    rgb(0, 0, 0) 60%
  ) !important;
}
ion-toolbar.location-input-attr ion-back-button {
  background-color: transparent !important;
}

/* info messages */
.info-message.blue,
.attr-page .info-message {
  @apply border-tertiary-300/40 bg-tertiary-50 text-tertiary-900;
}

/* pull the menu input values to the right */
.text-input-block:not(.web) input {
  text-align: right;
}

/* for surveys with a stars background */
.stars-background-header {
  @apply [&>ion-toolbar]:absolute [&>ion-toolbar]:top-0 [&>ion-toolbar]:[--background:transparent];
}
.stars-background-header.header-scrolled {
  @apply [&>ion-toolbar]:[--background:var(--ion-toolbar-background)];
}

/* Set geometry link map fixed height */
#geometry-link-map {
  height: 200px;
}

/* Selected radio and checkbox input default theming */
.radio-input > div > label[data-selected='true'],
.checkbox-input > div > label[data-selected='true'] {
  @apply border-secondary-800 bg-secondary-100/30;
}

.list-title {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}

.rounded-list {
  @apply bg-white;
}

/* survey list helper class */
.list {
  @apply px-2.5 flex flex-col gap-5 w-full max-w-xl mx-auto;
}
/* survey list helper class */
.list > .card {
  @apply bg-white rounded-lg px-4 py-3 shadow-lg;
}
.list > .rounded-list {
  @apply shadow-lg;
}
.list > .rounded-list > .list-title {
  @apply bg-secondary-800/10 text-secondary-900 border-b border-neutral-200;
}
/* survey list helper class */
.list > .card.top {
  @apply -mt-5;
}

/* Generic helper class */
.ion-no-border {
  --border-style: none;
}

/* Normalise alert button colours */
.action-sheet-container button span,
.alert-button span {
  color: black;
}

/* make list dividers theme focused */
.list-divider {
  @apply bg-secondary-800/10 text-secondary-900 border-b border-neutral-200 font-semibold!;
  margin: 0;
  font-weight: 500;
}
