:root {
  --ion-color-primary: #ab5700;
  --ion-color-primary-rgb: 145, 167, 28;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #884906;
  --ion-color-primary-tint: #c07a30;

  --ion-color-secondary: #ffa514;
  --ion-color-secondary-rgb: 0, 142, 236;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d48c16;
  --ion-color-secondary-tint: #ffc364;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #00bd1a;
  --ion-color-success-rgb: 0, 189, 26;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a617;
  --ion-color-success-tint: #1ac431;

  --ion-color-warning: #e0b500;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #c7a100;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --custom-color-complex-survey: #a77d11;
  --custom-color-complex-survey-shade: #6d520c;
  --custom-color-complex-survey-tint: #b98b14;

  --ion-page-background: #f4f5f8;
}

:root {
  --ion-headings-font-weight: 300;
  // --ion-item-border-color: red;
  --ion-item-border-color: rgb(0, 0, 0, 0.2);
}

.ios,
.md {
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
  --ion-toolbar-color-activated: #fff;
}

ion-toolbar {
  --min-height: 54px;
}

.sc-ion-back-button-ios-h {
  --color: var(--ion-toolbar-color);
}

ion-icon[faint] {
  opacity: 0.6;
}

ion-label[slot='end'] {
  text-align: right;
  opacity: 0.5;
}

button.alert-button.secondary {
  font-weight: normal !important;
}
button.alert-button.primary {
  font-weight: 700;
}

button.alert-button.danger {
  color: var(--ion-color-danger) !important;
  font-weight: normal !important;
}

ion-label {
  &.warn {
    color: var(--ion-color-warning) !important;
    opacity: 1;
  }
  &.error {
    color: var(--ion-color-danger) !important;
    opacity: 1;
  }
}

html[mode='ios'] ion-toolbar {
  ion-button {
    color: var(--ion-color-primary-contrast);
  }
}

html[mode='ios'] ion-input,
html[mode='ios'] ion-textarea {
  --padding-start: 7px;
}

html[mode='ios'] .tabs-inner {
  margin-top: var(--ion-safe-area-top);
}

html[mode='md'] .action-sheet-group-cancel button {
  font-weight: bold;
}

html[mode='md'] ion-item ion-label[slot='end'] {
  margin-right: 5px;
}

ion-label.ion-text-wrap.normal-font-size {
  font-size: inherit;
}

ion-button[type='submit'] {
  width: 40%;
  margin: 20px auto 40px;
}

ion-alert {
  ion-list,
  ion-item {
    background: none;
    --background: none;
  }
}

ion-item.locked {
  ion-label[slot='end'] {
    color: var(--ion-color-secondary);
  }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.menu-attr-item.item-disabled {
  opacity: 0.3 !important;
}

.menu-attr-item.item-disabled {
  opacity: 0.7 !important;
}

ion-header ion-toolbar ion-button[fill='solid'] {
  --padding-end: 15px;
  --padding-start: 15px;
}

.menu-note-item {
  --inner-padding-start: 20px;
  --inner-padding-end: 20px;
  --inner-padding-top: 10px;
  --inner-padding-bottom: 10px;
}

ion-item-divider[mode='ios'] {
  font-weight: 400;
  padding: 5px;
  padding-left: 10px;
  background: #f1f1f1;
}

ion-item.empty {
  width: 80%;
  max-width: 250px;
  margin: 50px auto 50px;
  --border-style: none;
  --background: white;
  --color: var(--ion-color-light-contrast);
  border-radius: 10px;

  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05),
    0 2px 9px 0 rgba(62, 57, 107, 0.05);

  span {
    text-align: center;
    width: 100%;
  }

  div {
    margin: 0 auto;
    font-weight: 200;
    text-align: center;
    padding: 20px 0;
  }

  ion-icon {
    background: var(--ion-color-primary);
    padding: 5px;
    border-radius: 4px;
    color: white;
    margin: 0 5px 0 8px;
    margin-bottom: -7px;
  }
}

/* ROUND-THEME START */
body {
  background-color: var(--ion-page-background);
}

ion-content {
  --background: var(--ion-page-background);
}

ion-content > ion-list > ion-item-divider:first-of-type,
ion-content > ion-list > .rounded:first-of-type:first-child {
  margin-top: 10px;
}

*:not(.rounded) > .info-message {
  border-radius: 10px;
  margin: 10px;
  --border-color: transparent;
}

ion-item-divider {
  border: 0;
  font-weight: normal;
}

ion-input,
ion-textarea {
  margin: 10px auto !important;
  max-width: 95%;
  border-radius: 10px;
}

.item-datetime,
.checkbox-input-attr ion-item,
ion-radio-group ion-item {
  --border-style: none;
  border-radius: 10px;
  margin: 10px;
}

.info-background-message {
  border-radius: 10px;

  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05),
    0 2px 9px 0 rgba(62, 57, 107, 0.05);
}

div.rounded {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;

  > ion-item-sliding:last-child {
    ion-item {
      --border-style: none;
    }
  }

  > :last-child {
    --border-style: none;
  }

  div:last-child {
    ion-item {
      --border-style: none;
    }
  }
}

ion-list {
  padding: 0 10px !important;
}

ion-list,
ion-item-divider {
  background: transparent !important;
}

.attr-page {
  ion-input,
  ion-textarea {
    background: var(--ion-color-light) !important;
    padding: 0 10px;
  }
}

.apps-section * {
  --background: transparent;
}

ion-radio-group {
  .item-radio-checked:not(.radio-input-default-option) {
    --background: var(--ion-color-primary-tint);
    color: var(--ion-color-light);
    --color-activated: var(--ion-color-light);
  }

  ion-label {
    font-weight: 500;
  }
}

.slider-input-attr {
  margin: 0 10px;
  border-radius: 10px;
  --border-color: transparent;
}

.error-container .error-message {
  background: white;
}

.apps-section * {
  --background: transparent;
}

.info-background-message {
  ion-button {
    margin-left: 10px;

    color: var(--ion-color-medium);
    --border-color: var(--ion-color-medium);
  }
  span {
    text-align: left;
  }
}

.input-with-validation input {
  background: transparent;
}

/* ROUND-THEME END */

.radio-input-attr ion-item ion-label {
  font-weight: 500;
}

/* Tablet-friendly */
html.plt-tablet {
  .info-message,
  .item-datetime,
  ion-list,
  ion-textarea {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.photo-picker {
  --inner-padding-end: 0;

  #img-picker-array .img {
    margin-right: 5px;
    .delete {
      background-color: #80808085;
    }
  }

  #img-picker-array .img-picker {
    border-right: none;

    ion-button {
      background: #745a8f4f;
      margin: 5px;
      height: calc(80px - 10px);
      width: calc(80px - 10px);
      border-radius: 15px;
      transform: none;
    }
  }
}

.alert-message {
  text-align: left !important;
  font-size: 1em !important;
}

div.rounded .attr {
  ion-item {
    margin: 0 !important;
    --border-radius: none;
    border-radius: 0;
  }
}
