@import '@ionic/core/css/core.css';
@import '@ionic/core/css/ionic.bundle.css';

@import '@flumens/ionic/dist/themes/rounded.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    // tailwind is loaded later than ionic so resets some of the ionic's base styles
    @apply mt-5 text-2xl;
  }
}

:root {
  --ion-color-primary: var(--color-primary);
  --ion-color-primary-rgb: 102, 163, 71;
  --ion-color-primary-contrast: var(--color-primary-50);
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: var(--color-primary-700);
  --ion-color-primary-tint: var(--color-primary-500);
  --ion-color-primary-dark: var(--color-primary-900);

  --ion-color-secondary: var(--color-secondary);
  --ion-color-secondary-rgb: 255, 165, 20;
  --ion-color-secondary-contrast: var(--color-secondary-50);
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: var(--color-secondary-700);
  --ion-color-secondary-tint: var(--color-secondary-500);
  --ion-color-secondary-dark: var(--color-secondary-900);

  --ion-color-tertiary: #008eec;
  --ion-color-tertiary-rgb: 0, 142, 236;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #007dd0;
  --ion-color-tertiary-tint: #1a99ee;
  --ion-color-tertiary-dark: #001a2c;

  --ion-color-success: var(--color-success);
  --ion-color-success-rgb: 0, 189, 26;
  --ion-color-success-contrast: var(--color-success-50);
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: var(--color-success-700);
  --ion-color-success-tint: var(--color-success-500);
  --ion-color-success-dark: var(--color-success-900);

  --ion-color-warning: var(--color-warning);
  --ion-color-warning-rgb: 224, 181, 0;
  --ion-color-warning-contrast: var(--color-warning-50);
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: var(--color-warning-700);
  --ion-color-warning-tint: var(--color-warning-500);

  --ion-color-danger: var(--color-danger);
  --ion-color-danger-rgb: 240, 65, 65;
  --ion-color-danger-contrast: var(--color-danger-50);
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: var(--color-danger-700);
  --ion-color-danger-tint: var(--color-danger-500);
  --ion-color-danger-dark: var(--color-danger-900);

  --ion-color-dark: #091b00;
  --ion-color-dark-rgb: 9, 27, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-page-background: #f4f5f8;
  --ion-item-background: white;

  --ion-headings-font-weight: 300;
  --ion-item-border-color: rgb(0, 0, 0, 0.2);

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
  --ion-toolbar-color-activated: #fff;

  --id-positive-color: var(--ion-color-primary);
  --id-possible-color: var(--ion-color-secondary);
  --id-rejected-color: var(--ion-color-danger);
}

// FONTS START
@font-face {
  font-family: 'Museo300';
  src: url('./fonts/Museo300-Regular.ttf');
}

@font-face {
  font-family: 'Museo500';
  src: url('./fonts/Museo500-Regular.ttf');
}

@font-face {
  font-family: 'Museo700';
  src: url('./fonts/Museo700-Regular.ttf');
}

h1,
ion-title,
.gallery-modal .title {
  font-family: 'Museo500';
}

h2,
h3,
.apps-section .apps-section-h,
ion-item-divider,
ion-footer ion-tab-button {
  font-family: 'Museo300';
}
// FONTS END

// the background camera must see through it all
body {
  background-color: transparent;
}

h1,
h2,
h3 {
  color: var(--ion-color-primary-dark);
}

.id-positive {
  color: var(--id-positive-color);
}

.id-possible {
  color: var(--id-possible-color);
}

.id-rejected {
  color: var(--id-rejected-color);
}

// add extra padding to solid header buttons
ion-header ion-toolbar ion-button[fill='solid'] {
  --padding-end: 15px;
  --padding-start: 15px;
}

// nice page header
ion-toolbar {
  --ion-toolbar-background: linear-gradient(
    90deg,
    rgba(102, 163, 71, 1) 0%,
    rgba(131, 163, 71, 1) 100%
  );
}

// info messages
.attr-page .info-message,
.info-message.blue {
  --background: rgba(var(--ion-color-tertiary-rgb), 0.1);
  background: white; // above is transparent

  ion-note,
  ion-button,
  ion-icon {
    color: var(--ion-color-tertiary-dark) !important;
  }

  ion-button {
    --border-color: var(--ion-color-tertiary-dark);
  }
}

// ??
html[mode='ios'] .tabs-inner {
  margin-top: var(--ion-safe-area-top);
}
