@import '@flumens/ionic/dist/themes/rounded.css';

:root {
  --ion-color-primary: #66a347;
  --ion-color-primary-rgb: 102, 163, 71;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #35681c;
  --ion-color-primary-tint: #97d17b;
  --ion-color-primary-dark: #081a00;

  --ion-color-secondary: #ffa514;
  --ion-color-secondary-rgb: 255, 165, 20;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d48c16;
  --ion-color-secondary-tint: #ffc364;
  --ion-color-secondary-dark: #2c1b00;

  --ion-color-tertiary: #008eec;
  --ion-color-tertiary-rgb: 0, 142, 236;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #007dd0;
  --ion-color-tertiary-tint: #1a99ee;
  --ion-color-tertiary-dark: #001a2c;

  --ion-color-success: #00bd1a;
  --ion-color-success-rgb: 0, 189, 26;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a617;
  --ion-color-success-tint: #1ac431;
  --ion-color-success-dark: #002205;

  --ion-color-warning: #e0b500;
  --ion-color-warning-rgb: 224, 181, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #c7a100;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 240, 65, 65;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;
  --ion-color-danger-dark: #300000;

  --ion-color-dark: #091b00;
  --ion-color-dark-rgb: 9, 27, 0;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --custom-color-complex-survey: #a77d11;
  --custom-color-complex-survey-shade: #6d520c;
  --custom-color-complex-survey-tint: #b98b14;

  --ion-page-background: #f4f5f8;
  --ion-item-background: white;

  --ion-headings-font-weight: 300;
  --ion-item-border-color: rgb(0, 0, 0, 0.2);

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
  --ion-toolbar-color-activated: #fff;

  --id-positive-color: var(--ion-color-primary);
  --id-possible-color: var(--ion-color-secondary);
  --id-rejected-color: var(--ion-color-danger);
}

// FONTS START
@font-face {
  font-family: 'Museo300';
  src: url('./fonts/Museo300-Regular.ttf');
}

@font-face {
  font-family: 'Museo500';
  src: url('./fonts/Museo500-Regular.ttf');
}

@font-face {
  font-family: 'Museo700';
  src: url('./fonts/Museo700-Regular.ttf');
}

h1,
ion-title,
.gallery-modal .title {
  font-family: 'Museo500';
}

h2,
h3,
.apps-section .apps-section-h,
ion-item-divider,
ion-footer ion-tab-button {
  font-family: 'Museo300';
}
// FONTS END

// the background camera must see through it all
body {
  background-color: transparent;
}

h1,
h2,
h3 {
  color: var(--ion-color-primary-dark);
}

.id-positive {
  color: var(--id-positive-color);
}

.id-possible {
  color: var(--id-possible-color);
}

.id-rejected {
  color: var(--id-rejected-color);
}

// add extra padding to solid header buttons
ion-header ion-toolbar ion-button[fill='solid'] {
  --padding-end: 15px;
  --padding-start: 15px;
}

// nice page header
ion-toolbar {
  --ion-toolbar-background: linear-gradient(
    90deg,
    rgba(102, 163, 71, 1) 0%,
    rgba(131, 163, 71, 1) 100%
  );
}

// info messages
.attr-page .info-message,
.info-message.blue {
  --background: rgba(var(--ion-color-tertiary-rgb), 0.1);
  background: white; // above is transparent

  ion-note,
  ion-button,
  ion-icon {
    color: var(--ion-color-tertiary-dark) !important;
  }

  ion-button {
    --border-color: var(--ion-color-tertiary-dark);
  }
}

// ??
html[mode='ios'] .tabs-inner {
  margin-top: var(--ion-safe-area-top);
}
