#survey-default-edit {
  ion-content {
    .img-picker {
      .non-cordova-img-picker-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-16px, -16px);
      }

      input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        margin-top: 0 !important;
      }
    }

    .photo {
      position: relative;
      margin: 0 8px 2px 0;
      height: 60px;
      min-width: 60px;
      max-width: 60px;
      background-color: #f8f2e6;
      border-radius: 5px;
      overflow: hidden;
      text-align: center;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      ion-icon {
        width: 50%;
        height: 100%;
        margin: 0 auto;
        color: #b38b39;
      }
    }

    .media-identifying {
      width: 15px;
      margin-right: -17px;
    }

    .species-list-item {
      ion-item {
        --detail-icon-opacity: 0.8;
        --padding-start: 9px;
      }

      ion-item.id-green {
        --detail-icon-color: green;
      }

      ion-item.id-amber {
        --detail-icon-color: orange;
      }

      ion-item.id-red {
        --detail-icon-color: red;
      }
    }

    .empty {
      width: 80%;
      max-width: 250px;
      margin: 100px auto 0;
      --border-width: 0;
      --background: var(--ion-color-light);
      --color: var(--ion-color-light-contrast);

      span {
        margin: 0 auto;
        font-weight: 200;
      }
    }
  }
}

ion-alert {
  ion-item.id-green,
  ion-item.id-amber,
  ion-item.id-red {
    --border-color: transparent;
    ion-icon {
      margin-right: 10px;
    }
  }

  ion-item.id-green {
    border-bottom: 5px solid green;
  }
  ion-item.id-amber {
    border-bottom: 5px solid orange;
  }
  ion-item.id-red {
    border-bottom: 5px solid red;
  }
}
