name: Continuous Deployment

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    steps:
      - uses: actions/checkout@v2
      - uses: amondnet/vercel-action@v19
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID}}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}}
          scope: ${{ secrets.VERCEL_TEAM_ID }}
          vercel-args: '--prod'

  acceptance-test:
    needs: deploy
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - run: npm install
        env:
          PLANT_NET_API_KEY: ${{ secrets.PLANT_NET_API_KEY }}
          APP_SENTRY_KEY: ${{ secrets.APP_SENTRY_KEY }}
      - run: npm run test:acceptance
        env:
          PLANT_NET_API_KEY: ${{ secrets.PLANT_NET_API_KEY }}
