name: Sanity Check

on:
  schedule:
    - cron: '0 4 * * *'

jobs:
  acceptance-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - run: npm install
        env:
          PLANT_NET_API_KEY: ${{ secrets.PLANT_NET_API_KEY }}
          APP_SENTRY_KEY: ${{ secrets.APP_SENTRY_KEY }}
      - run: npm run test:acceptance
        env:
          PLANT_NET_API_KEY: ${{ secrets.PLANT_NET_API_KEY }}